<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">

    <Properties>
        <Property name="root.log.pattern">%date %-5level [%-25.25thread] %35.35c{1.} - %msg%n%throwable</Property>
    </Properties>

    <!-- Example with JSON: https://github.com/Consensys/quorum-dev-quickstart/blob/b72a0f64d685c851bf8be399a8e33bbdf0e09982/files/besu/config/besu/log-config.xml -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout alwaysWriteExceptions="false" pattern='${root.log.pattern}'/>
        </Console>
        <RollingFile name="RollingFile" fileName="/opt/besu/logs/besu.log" filePattern="/opt/besu/logs/besu-%d{MM-dd-yyyy}-%i.log.gz" >
            <PatternLayout alwaysWriteExceptions="false" pattern='${root.log.pattern}'/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1000 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="oshi" level="OFF" additivity="false"/>

        <Logger name="io.netty" additivity="false">
            <AppenderRef ref="RollingFile" level="WARN" />
        </Logger>

        <Logger name="io.vertx" additivity="false">
            <AppenderRef ref="RollingFile" level="WARN" />
        </Logger>

        <Logger name="org.hyperledger.besu.ethereum.eth.transactions.BlobCache" additivity="false">
            <AppenderRef ref="RollingFile" level="WARN" />
        </Logger>

        <!-- https://github.com/hyperledger/besu/pull/6825 -->
        <Logger name="io.opentelemetry.extension.trace.propagation.B3PropagatorExtractorMultipleHeaders">
            <RegexFilter regex="Invalid TraceId in B3 header:.*" onMatch="DENY" onMismatch="NEUTRAL" />
        </Logger>

        <Root>
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="RollingFile" level="DEBUG" />
        </Root>
    </Loggers>

</Configuration>
