name: Check PR
on:
  pull_request:

concurrency:
  group: check-pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  checks: write

jobs:
  check-pr:
    name: Check PR
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      JAVA_OPTS: -Dfile.encoding=UTF-8
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      SBT_IT_TEST_THREADS: 2
    services:
      docker:
        image: docker:latest
        options: --privileged  # Required for Docker-in-Docker
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
        ports:
          - 2375:2375
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'sbt'
      - uses: foundry-rs/foundry-toolchain@v1
      - name: Cache solc
        id: cache-solc
        uses: actions/cache@v4
        with:
          path: /home/runner/.solc
          key: solc-v0.8.29
          restore-keys: solc-
      - name: Get solc
        if: ${{ steps.cache-solc.outputs.cache-hit != 'true' }}
        run: |
          mkdir -p /home/runner/.solc/v0.8.29
          wget https://binaries.soliditylang.org/linux-amd64/solc-linux-amd64-v0.8.29+commit.ab55807c -O /home/runner/.solc/v0.8.29/solc-static-linux
          echo "/home/runner/.solc" >> $GITHUB_PATH
          ln -sf /home/runner/.solc/v0.8.29/solc-static-linux /home/runner/.solc/solc
          which solc || echo "Solc not found in PATH"
      - uses: sbt/setup-sbt@v1
      - name: Run tests
        run: |
          forge --version
          sbt -Dcc.it.max-parallel-suites=4 --batch "scalafmtCheck;test;docker;consensus-client-it/test"
        env:
          RUN_ID: ${{ github.head_ref }}-${{ github.run_number }}-${{ github.run_attempt }}
          MAX_PARALLEL_SUITES: 4
      - uses: scacap/action-surefire-report@5609ce4db72c09db044803b344a8968fd1f315da
        if: always()
        with:
          report_paths: '**/target/test-reports/*.xml'
          create_check: false
          check_name: 'Check PR'
      - name: Archive logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-logs_${{ env.BRANCH_NAME }}_${{ github.run_id }}
          path: consensus-client-it/target/test-logs
          if-no-files-found: warn
          retention-days: 14
