name: Check PR
on:
  pull_request:

concurrency:
  group: check-pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  checks: write

jobs:
  check-pr:
    name: Check PR
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      JAVA_OPTS: -Dfile.encoding=UTF-8
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'sbt'
      - uses: foundry-rs/foundry-toolchain@v1
      - uses: sbt/setup-sbt@v1
      - name: Run tests
        run: sbt -Dcc.it.max-parallel-suites=2 -Dlogback.test.level=OFF --batch "scalafmtCheck;test;docker;consensus-client-it/test"
        env:
          RUN_ID: ${{ github.head_ref }}-${{ github.run_number }}-${{ github.run_attempt }}
      - uses: scacap/action-surefire-report@5609ce4db72c09db044803b344a8968fd1f315da
        if: always()
        with:
          report_paths: '**/target/test-reports/*.xml'
          create_check: false
          check_name: 'Check PR'
      - name: Archive logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-logs_${{ env.BRANCH_NAME }}_${{ github.run_id }}
          path: consensus-client-it/target/test-logs
          if-no-files-found: warn
          retention-days: 14

  local-network:
    name: Run Local Network tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'sbt'
      - uses: foundry-rs/foundry-toolchain@v1
      - uses: sbt/setup-sbt@v1
      - run: |
          sbt --batch docker
          cd local-network
          ./restart.sh
        env:
          COMPOSE_PROFILES: tests
