name: Publish Docker image
run-name: Publish branch ${{ github.ref_name }} to tags ${{ inputs.dockerTags }}

on:
  workflow_dispatch:
   inputs:
     dockerTags:
       description: 'Docker tag'
       required: true
     baseImage:
       description: 'Base image'
       required: true
       default: 'ghcr.io/wavesplatform/waves:snapshot'

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: proudust/gh-describe@70f72d4f6304ea053cf5a3d71c36211d5acc0c73
        id: ghd
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: |
          {
            echo 'tags<<EOF'
            echo ${{ inputs.dockerTags }} | tr ',' '\n' | sed -e 's/^/type=raw,value=/'
            echo type=sha
            echo EOF
          } >> "$GITHUB_OUTPUT"
          echo "cc-version=$(echo ${{ steps.ghd.outputs.describe }} | cut -c 2-)" >> "$GITHUB_OUTPUT"
        id: tag-list
      - run: sbt -Dproject.version=${{ steps.tag-list.outputs.cc-version }} --batch buildTarballsForDocker
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/metadata-action@v5
        id: meta
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: ${{ env.IMAGE_NAME }}
          flavor: latest=${{ contains(inputs.dockerTags, 'latest') }}
          tags: |
            ${{ steps.tag-list.outputs.tags }}
          labels: |
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.description=Unit Zero Node
      - uses: docker/build-push-action@v5
        id: push
        with:
          context: ./docker
          platforms: linux/amd64,linux/arm64
          push: true
          pull: true
          build-args: baseImage=${{ inputs.baseImage }}
          tags: ${{ steps.meta.outputs.tags }}
          annotations: ${{ steps.meta.outputs.annotations }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - run: |
          echo 'Base image: `${{ inputs.baseImage }}`' >> $GITHUB_STEP_SUMMARY
